/* .custom-button {
    background-color: #42b72a;
}
.custom-button:hover {
    background-color: #42b744;
} */

/* .logo{
    background-image: image();
    height: 51px;
    width: 175;
    
}

.button{
    background-color: #0095F6;
}

.button:hover{
    background-color: green;
}

/* .button-F {
    color: #0095F6;
}
.button-F.text:hover {
    color: black;
} */

/* .buttonF {
    background-color: #0095F6; 
/* }

.buttonF:hover {
    background-color: green; 
/* }

.buttonF .text {
    color: #0095F6;
/* } */

/* .buttonF:hover .text {
    color: black;
/* }    */

.sidebar-item {
  background-color: yellow;
}

.sidebar-item:hover {
  background-color: green;
}

.box {
  border: "1px solid red";
}
