/* .custom-button {
    background-color: #42b72a;
}
.custom-button:hover {
    background-color: #42b744;
} */

/* .logo{
    background-image: image();
    height: 51px;
    width: 175;
    
}

.button{
    background-color: #0095F6;
}

.button:hover{
    background-color: green;
}

/* .button-F {
    color: #0095F6;
}
.button-F.text:hover {
    color: black;
} */

/* .buttonF {
    background-color: #0095F6; 
/* }

.buttonF:hover {
    background-color: green; 
/* }

.buttonF .text {
    color: #0095F6;
/* } */

/* .buttonF:hover .text {
    color: black;
/* }    */
/* 
.sidebar-item {
  background-color: yellow;
}

.sidebar-item:hover {
  background-color: green;
}

.box {
  border: "1px solid red";
} */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  .thumbnail {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
  }